@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://unpkg.com/lenis@1.3.11/dist/lenis.css");

:root {
  --primary-color: #1e2939;
  --secondary-color: #fccee8;
}

* {
  padding: 0;
  margin: 0;

  scrollbar-width: 8px;
  scrollbar-color: var(--primary-color) var(--secondary-color);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--secondary-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
  }
}

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: var(--secondary-color);
  color: var(--primary-color);

  margin: 1rem auto;
  max-width: 60rem;
  width: 90%;
}

ul {
  list-style-type: none;
}

table {
  table-layout: fixed;
  width: 100%;

  & tr {
    & td {
      width: 100%;
      text-align: center;
      vertical-align: top;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }

      &:only-child {
        text-align: left;
      }
    }
  }
}

img {
  width: 100%;
  height: fit-content;
  opacity: 0.75;
}

h1 {
  font-family: "Viaoda Libre", serif;
  font-weight: 700;
  font-style: normal;
  font-style: italic;
}

h2 {
  font-family: "Viaoda Libre", serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
}

h3 {
  font-family: "Viaoda Libre", serif;
  font-weight: 500;
  font-style: normal;
  font-style: italic;
}

h4,
h5,
h6 {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
}

.font-sans-serif {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-serif {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}
