/* Contact */
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 180px;
}
.cont2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tact{
    min-width: 20%;
    max-width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-bottom: 100px;
    background-color: #a6a6a6;
    transition: 0.3s;
}
.tact:hover{
    box-shadow: 7px 7px 10px #a6a6a6;
    background-color: #d4d4d4;
    transition: 0.5s;
    
}
@keyframes color-change {
    0%{
        color: white;
    }
    8%{
        color: #405de6;
    }
    16%{
        color: #5851d8;
    }
    24%{
        color: #833ab4;
    }
    32%{
        color: #c13584;
    }
    40%{
        color: #e1306c;
    }
    48%{
        color: #fd1d1d;
    }
    56%{
        color: #f56040;
    }
    64%{
        color: #f77737;
    }
    72%{
        color: #fcaf45;
    }
    80%{
        color: #ffdc80;
    }
    88%{
        color: #feda75;
    }
    100%{
        color: white;
    }
}
.text{
    text-decoration: none;
    font-size: 30px;
    padding: 20px 40% 20px 40%;
    color: white;
}
.text:hover{
    animation: color-change 16s infinite;
}

/* Media */
@media screen and (max-width: 768px) {
    .tact{
        min-width: 400px;
        max-width: 400px;
    }
}