*,
html{
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
}
#Beranda{
    width: 100%;
    position: fixed;
    padding: 20px;
    background-color: whitesmoke;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 12px;
    box-shadow: 12px 12px 5px gray;
}
#Judul{
    padding-top: 80px;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}
#Pengenalan{
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
}
#Hobi{
    padding-top: 160px;
    padding-left: 100px;
    padding-right: 100px;
}
#Game{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
a{
    text-decoration: none;
}
.home{
    margin-left: 80px;
    margin-right: 20px;
}
.ins{
    margin-left: 20px;
    margin-right: 20px;
}
.Subjudul{
    font-size: 35px;
    font-family: sans-serif;
}
.Isi{
    font-size: 30px;
    font-family: sans-serif;
}
.valo{
    width: 800px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 7px 7px 5px gray;
}
.ml{
    width: 800px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 7px 7px 5px gray;
}
.gi{
    width: 800px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 7px 7px 5px gray;
}
.device{
    margin-left: 20px;
}
.ig{
    margin-right: 10px;
    font-size: 30px;
    font-family: sans-serif;
}
a:link {color: black;}
a:visited {color: black;}
a:hover {color: gray;}
a:active {color: gray;}
.footer{
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
    padding: 20px;
    background-color: whitesmoke;
}